@page
@model OrderSmart.Pages.OrderPlace.OrderPlace
@using Models;
@{
}

<!--Falke-->
<body>

    <div>
        <form method="post" class="form-inline">
            <input asp-for="SearchName" placeholder="Navn" />
            <input asp-for="SearchMinPrice" placeholder="Min. pris" />
            <input asp-for="SearchMaxPrice" placeholder="Max. pris" />
            <input type="submit" asp-page-handler="Search" value="Søg" />
        </form>
    </div>

    <div class="table">

        <div class="">


                <!--Falke-->
                <table class="table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Navn</th>
                        <th>Pris</th>
                        <th>Lager antal</th>
                        <th>Til kurv</th>
                        <th>I kurv</th>
                    </tr>


                    @foreach (Product p in OrderPlace.Stock)
                    {
                        if (p.Amount > 0)
                        {
                                <tr>

                                    <td>@p.ID</td>

                                    <td>@p.Name></td>

                                    <td>@p.Price</td>

                                    <td>@p.Amount</td>

                                    <td>
                                        <form method="post">
                                            <input type="hidden" name="id" value="@p.ID" />
                                            <input type="hidden" name="name" value="@p.Name" />
                                            <input type="hidden" name="price" value="@p.Price" />
                                            <input name="amount" value="0" id="new_amount_div_@OrderPlace.Stock.IndexOf(p)" onchange="checkMax(@p.Amount, @OrderPlace.Stock.IndexOf(p))" />
                                            <p class="btn-dark d-inline" onclick="incrementAmount(@p.Amount, @OrderPlace.Stock.IndexOf(p))">+</p> <!--Addition by Mads-->
                                            <p class="btn-dark d-inline" onclick="decrementAmount(0, @OrderPlace.Stock.IndexOf(p))">-</p> <!--Addition by Mads-->
                                            <input asp-page-handler="ToCart" type="submit" value="Tilføj" /> <input asp-page-handler="RemoveFromCart" type="submit" value="Fjern" />
                                        </form>
                                    </td>
                                    <td>
                                        @if (OrderPlace.Cart != null)
                                        {
                                            @foreach (Product cartP in OrderPlace.Cart)
                                            {
                                                if (p.ID == cartP.ID)
                                                {
                                                    @cartP.Amount
                                                }
                                            }
                                        }
                                        <!-- VALIDAATION DONE CLIENT SIDE WITH JAVASCRIPT Validation made by Mads -->
                                    </td>
                                </tr>
                        }
                    }
                </table>
            <!--Falke-->
            <form asp-page-handler="Buy" method="post"><input type="submit" value="Køb" /><label>Total: @Math.Round(OrderPlace.TotalPriceCart, 2)</label></form> 

                <!--Should be Deleted before release but its nice to have when debugging after merge-->
                <table>
                    <thead>Test</thead>
                    <tr>
                        <th>navn</th>
                        <th>amount</th>
                    </tr>
                    <tbody>
                        @if (OrderPlace.Cart != null)
                        {
                            @foreach (Product p in OrderPlace.Cart)
                            {
                                <tr>
                                    <td>@p.Name</td>
                                    <td>@p.Amount</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

        </div>

    </div>

</body>