@page
@model OrderSmart.Pages.OrderPlace.OrderPlace
@using Models;
@{
}

<!--Falke-->
<body>

    <!-- Order-Header by Mads -->
    <div class="order-header">

        <div class="flex-grow-1">
            <h1>
                <b>OrderSmart</b>
            </h1>
            <span style="margin-top:5px;" class="h4 text-muted font-weight-normal font-italic">Lager</span>
        </div>

        <hr />

    </div>

    <!-- Search Styling by Mads -->
    <div class="search-container">
        <span style="" class="h4 font-weight-normal">Søg</span>
        <br />
        <div class="input-group" style="width:100%">
            <form method="post" class="form-inline" style="width:100%">
                <br />
                <input class="input-margin" asp-for="SearchName" placeholder="Navn" />
                <input class="input-margin" asp-for="SearchMinPrice" placeholder="Min. pris" />
                <input class="input-margin" asp-for="SearchMaxPrice" placeholder="Max. pris" />
                <input style="width:15%;" class="input-margin btn-dark d-inline btn-alone" type="submit" asp-page-handler="Search" value="Søg" />
            </form>
        </div>
    </div>

    <hr />

    <!-- TABLE BY FALKE; TABLE STYLING BY MADS -->
    <div class="table-responsive">

        <!--Falke-->
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Pris</th>
                <th>Lager antal</th>
                <th>Til kurv</th>
                <th>I kurv</th>
            </tr>

            @foreach (Product p in OrderPlace.Stock)
            {
                if (p.Amount > 0)
                {
                    <tr>

                        <td style="width:7.5%">@p.ID</td>

                        <td style="width:25%">@p.Name</td>

                        <td style="width:7.5%">@p.Price</td>

                        <td style="width:8.5%">@p.Amount</td>

                        <td style="width:25%">
                            <form method="post">
                                <input type="hidden" name="id" value="@p.ID" />
                                <input type="hidden" name="name" value="@p.Name" />
                                <input type="hidden" name="price" value="@p.Price" />
                                <input style="width:10%;" name="amount" value="0" id="new_amount_div_@OrderPlace.Stock.IndexOf(p)" onchange="checkMax(@p.Amount, @OrderPlace.Stock.IndexOf(p))" />
                                <button type="button" class="btn-dark d-inline btn-left" onclick="incrementAmount(@p.Amount, @OrderPlace.Stock.IndexOf(p))">+</button> <!--Addition by Mads-->
                                <button type="button" class="btn-dark d-inline" onclick="decrementAmount(0, @OrderPlace.Stock.IndexOf(p))">-</button> <!--Addition by Mads-->
                                <input class="btn-dark d-inline" asp-page-handler="ToCart" type="submit" value="Tilføj" />
                                <input class="btn-dark d-inline btn-right" asp-page-handler="RemoveFromCart" type="submit" value="Fjern" />
                            </form>
                        </td>
                        <td style="width:10%">
                            <p style="float:right; margin-bottom: 0">
                                @if (OrderPlace.Cart != null)
                                {
                                    @foreach (Product cartP in OrderPlace.Cart)
                                    {
                                        if (p.ID == cartP.ID)
                                        {
                                            @cartP.Amount
                                        }
                                    }
                                }
                                <!-- VALIDATION DONE CLIENT SIDE WITH JAVASCRIPT Validation made by Mads -->
                            </p>
                        </td>
                    </tr>
                }
            }
        </table>
        <!-- FORM BY FALKE; FORM STYLING BY MADS -->
        <div class="totalprice-container">
            <form asp-page-handler="Buy" method="post">
                <label>Subtotal: @Math.Round(OrderPlace.TotalPriceCart, 2)</label>
                <input style="width:10rem" class="btn-dark d-inline btn-alone" type="submit" value="Køb" />
            </form>
        </div>

    </div>

</body>