@page
@using OrderSmart.Models
@model OrderSmart.Pages.CustomerOrderScreen.CustomerOrderScreenModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrderSmart</title>
    <link rel="stylesheet" href="~/css/CustomerOrderScreen.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body onload="timedRefresh(15000)">
    @* Makes a borderless table and tableheaders for each orderstatus.*@
    @* Martin *@
    <form method="get">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="table-info">
                        Modtaget
                    </th>
                    <th class="table-warning">
                        Pakkes
                    </th>
                    <th class="table-success">
                        Klar
                    </th>
                    @* <th class="table-primary">
                        Udleveret
                        </th>*@
                </tr>
            </thead>
            @* Makes TableCell where it iterates through all orders with the wanted status and makes a new "Badge"(H1) for each order. *@
            <tbody>
                <tr>
                    @* Also Type Casts so OrderStatus is == Order.Stauts
                        Martin  *@
                    <td>
                        @foreach (var item in Model.Orders.Where(item => item.OrderStatus == (Order.Status)0))
                        {
                            <h1><span class="badge badge-info">@item.ID</span></h1>

                        }
                    </td>
                    <td>
                        @foreach (var item in Model.Orders.Where(item => item.OrderStatus == (Order.Status)1))
                        {
                            <h1><span class="badge badge-warning">@item.ID</span></h1>
                        }
                    </td>
                    <td>
                        @foreach (var item in Model.Orders.Where(item => item.OrderStatus == (Order.Status)2))
                        {
                            <h1><span class="badge badge-success">@item.ID</span></h1>
                        }
                    </td>
                    @*<td>
                           @foreach (var item in Model.Orders.Where(item => item.OrderStatus == (Order.Status)3))
                        {
                            <h1><span class="badge badge-primary">@item.ID</span></h1>
                        }
                        </td>*@
                </tr>
            </tbody>
        </table>
    </form>
</body>